:root {
    --blue: #18adeb;
    --navy: #0f408a;
    --rust: #953018;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--navy);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/wood.jpg);
}

header {
    background-color: var(--navy);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--rust);
}

header h1 {
    font-weight: bold;
    font-size: 49px;
    color: var( --blue);
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var( --blue);
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    color: var(--rust);
    background-color: var(--blue);
    border: 3px solid var(--rust);
    border-radius: 15px;
}

.hero {
    background-image: url(../images/hero-background.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    width: 100%;
    position: relative;
    border-bottom: 5px solid var(--rust);
}

.hero img {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid var(--rust);
    position: absolute;
    top: 20px;
    right: 20px;
}

.hero h2 {
    color: var(--blue);
    background-color: var(--rust);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.section-title {
    border-bottom: 5px solid var(--rust);
    margin: 50px 75px 0 75px;
    font-size: 35px;
    text-shadow: 0 0 10px rgba(149, 48, 24, 0.5);
}

.section-content {
    margin: 50px 75px 50px 75px;
}

p {
    font-size: 20px;
}

#my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 5px solid var(--navy);
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
    height: 300px;
    width: 46%;
}

.card:hover {
    background-color: rgba(24, 173, 235, 0.5);
}

.card img {
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-title {
    color: var(--blue);
    background-color: var(--navy);
    z-index: 9999;
    width: 35%;
    position: absolute;
    bottom: 8px;
    left: 0;
}

#first-card {
    align-self: stretch;
    height: 600px;
    width: 100%;
}

#contact-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#contact-me ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact-me ul li {
    font-weight: bolder;
}

#contact-me ul li a {
    text-decoration: none;
    color: var(--navy);
}

#contact-me ul li a:hover {
    color: var(--rust);
}

#contact-me ul li:hover {
    color: var(--rust);
    background-color: var(--blue);
    border: 3px solid var(--rust);
    border-radius: 15px;
}

footer {
    background-image: url(../images/hero-background.jpg);
    height: 150px;
    text-align: center;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 5px solid var(--rust);
    border-bottom: 5px solid var(--rust);
    }

footer h2 {
    color: var(--rust);
    font-weight: bolder;
}

/*  MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER  */
@media screen and (max-width: 1150px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2 {
        text-align: center;
        width: 100%;
    }

    .section-title {
        width: 80%;
    }

    .card {
        width: 40%;
    }

    .card-title {
        width: 50%;
    }
}

/*  MEDIA QUERY FOR TABLETS AND SMALLER  */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .section-title {
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .card-title {
        width: 35%;
    }

    #first-card {
        height: 300px;
    }
}

/*  MEDIA QUERY FOR MOBILE PHONES AND SMALLER  */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
        margin: auto;
    }

    .hero {
        align-items: center;
    }

    .hero img {
        position: static;
    }

    .hero h2 {
        position: static;
        font-size: 15px;
    }

    #my-work {
        margin: 0;
    }

    .card-title {
        width: 100%;
    }
}