:root {
    --blue: #18adeb;
    --navy: #0f408a;
    --rust: #953018;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--blue);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/wood.jpg);
}

header {
    background-color: var(--navy);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--rust);
}

header h1 {
    font-weight: bold;
    font-size: 49px;
    color: var( --blue);
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var( --blue);
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;

}

.hero {
    background-image: url(../images/hero-background.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.hero img {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid var(--rust);
    margin: 10px;
}

.hero h2 {
    color: var(--rust);
}

article {
    margin: 50px 75px 50px 75px;
}

.section-title {
    font-weight: bold;
    border-bottom: 3px solid var(--navy);
    margin-bottom: 50px;
}

#my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    border: 5px solid var(--navy);
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 20%;
    margin: 0 auto 0 auto;
}

.card img {
    z-index: -1;
    height: 100%;
    width: 100%;
}

#my-work:first-child {
    width: 100%;
    height: 60%;
}

.card-title {
    background-color: var(--navy);

}

