:root {
    --blue: #18adeb;
    --navy: #0f408a;
    --rust: #953018;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--navy);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--navy);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--rust);
}

header h1 {
    font-weight: bold;
    font-size: 49px;
    color: var( --blue);
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var( --blue);
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;

}

.hero {
    background-image: url(../images/hero-background.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.hero img {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid var(--rust);
    margin: 10px;
}

.hero h2 {
    color: var(--rust);
}